* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
}
h1 {
  color: white;
  font-family: "Jost Medium";
  font-size: 70px;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #9e1c43;
  cursor: none;
}
#wrapper {
  cursor: pointer;
}
#schedule {
  color: white;
  font-family: "Jost", Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 10px;
}

::selection {
  background: #555;
  color: white;
}
::moz-selection {
  background: #555;
  color: white;
}

b {
  font-family: "Jost Medium", Arial, Helvetica, sans-serif;
  font-weight: 600;
}